.root {
  li {
    display: inline-flex;

    a {
      display: inline-flex;
      color: #fe5f1e;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      margin-right: 10px;
      border: 1px solid #fe5f1e;
      border-radius: 30px;

      &:hover {
        background-color: #fe5f1e;
        color: #fff;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: #fe5f1e;
        color: #fff;
      }
    }
  }
}
