.loader {
    position: absolute;
  
    width: 18px;
    height: 18px;
  
    border: 3px solid rgba(255, 255, 255, 0.4);
    border-top: 3px solid #fff;
    border-radius: 50%;
  
    animation: spin 0.8s linear infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }