@import '../variables';

.pizza-block {
  width: 280px;
  height: 100%;
  display: flex;
  flex-direction: column;
  

  &-wrapper {
    display: flex;
    justify-content: center;
  }

  &__image-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }


  &__image {
    width: 260px;
    height: 260px;
    object-fit: cover;
    border-radius: 16px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
  }

  &__image-rating {
    position: absolute;
    right: 0px;
    top: 0;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    display: flex;
    gap: 2px;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: #dcba5b;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    border: 2px solid rgba(255, 255, 255, 0.25);
  }

  &__title {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1%;
    margin-bottom: 12px;
  }

  &__description {
    font-size: 16px;
    letter-spacing: 1%;
    margin-bottom: 18px;
    flex-grow: 1;
  }

  &__selector {
    display: flex;
    background-color: #f3f3f3;
    border-radius: 10px;
    flex-direction: column;
    padding: 6px;

    ul {
      text-align: center;
      display: flex;
      flex: 1;

      &:first-of-type {
        margin-bottom: 6px;
      }

      li {
        padding: 8px;
        flex: 1;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        @include noselect();
        &.active {
          background: #ffffff;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
          border-radius: 5px;
          cursor: auto;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }
}
