@import "../variables";

.sort {
  position: relative;

  &__label {
    display: flex;
    align-items: center;
    text-wrap: nowrap;

    svg {
      margin-right: 8px;
    }

    b {
      margin-right: 8px;
    }

    span {
      color: $orange;
      border-bottom: 1px dashed $orange;
      cursor: pointer;
    }
  }

  &__popup {
    position: absolute;
    right: 0;
    margin-top: 25px;
    background: #ffffff;
    box-shadow: 1px 8px 11px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    z-index: 10;

    ul {
      overflow: hidden;
      li {
        padding: 12px 20px;
        cursor: pointer;

        &.active,
        &:hover {
          background: rgba(254, 95, 30, 0.05);
        }

        &.active {
          font-weight: bold;
          color: $orange;
        }
      }
    }
  }
}
