.logo {
  font-size: 32px;
}

.brand {
  font-weight: 800;
  font-size: 18px;
}

.tagline {
  font-size: 12px;
  color: #777;
}

.loginBtn {
  background: #ff7010;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
}

.pageContent {
  padding: 40px;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.registerCard {
  width: 420px;
  padding: 40px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 12px;
  right: 12px;
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
}

.title {
  margin: 0;
  font-size: 26px;
  font-weight: 700;
}

.subtitle {
  margin-top: 8px;
  font-size: 14px;
  color: #777;
}

.form {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.input:focus {
  outline: none;
  border-color: #ff7010;
}

.passwordWrapper {
  position: relative;
}

.eye {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.6;
}

.eye img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  display: block;
}

.button {
  position: relative;
  margin-top: 10px;
  padding: 12px;
  background: #ff7010;
  border: none;
  border-radius: 12px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 44px;
}
.button:hover {
  background: #ff5a00;
}

.terms {
  margin-top: 18px;
  font-size: 12px;
  color: #888;
}

.terms span {
  color: #ff7010;
  cursor: pointer;
}
