.wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
  .inputWrapper {
    position: relative;
  }
  
  .input {
    width: 100%;
    padding: 12px 42px 12px 14px; // место под глазик
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
    color: #222;
    background: #fff;
  }
  
  .input::placeholder {
    color: #999;
  }
  
  .input:focus {
    outline: none;
    border-color: #ff7010;
  }
  
  .errorInput {
    border-color: #e53935;
  }
  
  .rightElement {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .rightElement img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    opacity: 0.6;
  }
  
  .rightElement img:hover {
    opacity: 1;
  }
  
  .errorText {
    font-size: 12px;
    color: #e53935;
  }
  