.toast-container {
  padding: 8px;
}

.toast-item {
  background: #3b3838 !important;
  color: #fff !important;
  border-radius: 10px !important;
  padding: 15px 18px !important;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  min-width: 260px;
}

.Toastify__toast-icon {
  display: none !important;
}
