.tableWrapper {
  height: 100dvh;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 400px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 22px;
  font-weight: 700;
  color: #111827;
}


.adminError {
  padding: 20px;
  font-weight: 600;
  color: #c0392b;
}

.pizzaImg {
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.2s;
}

.pizzaImg:hover {
  transform: scale(1.1);
}
